body, html{
  margin: 0;
  padding: 0;
  height: 2500px;
  font-family: "helvetica", sans-serif;
}

header{
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
}

.menu{
    padding: 1rem 4.4rem;
    overflow: auto;
}

.link{
  font-weight: 700;
  padding: 1.3rem;
  display: inline-block;
}

.logo{
    float: right;
}

#home{
    background-image: url(../image/bg-home.jpg); /*portada*/
    background-position: center; /*pasiciona la imagen l centro*/
    background-repeat: no-repeat;
    background-size: cover; /*cubre todo el contenedor*/
    height: 554px;
    text-align: center;
    margin-top: 80px;
}

#home .container{
    color: white;
    padding: 4.3rem;
}

.text-home{
    font-size: 3.1rem;
}

.btn-home{
    background: #2ECC71;
    color: #fff;
    padding: 0.7rem  1.25rem;
    border-radius: 2px;
    font-weight: 500;
    margin-top: 4rem;
    display: inline-block;
    font-size: 0.9;
}

#services{
    width: 100%;
    background-color: #F17C72;
    text-align: center;
    color: #fff;
    padding: 4.4rem 0.4rem;
}

.text-services{
    font-size: 2.19rem;
    letter-spacing: 2px;
}

.box-services{
    display: inline-block;
    width: 30%;
    margin-top: 4rem;
}

.box-services>img{
  max-width: 100%;
}

#work{
  text-align: center;
}

#img-hero{
  max-width: 100%;
}

.box-work{
    display: inline-block;
}

/*modal box*/
.box-modal{
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 6.25rem;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 210, 160, 0.9);
  text-align: center;
}

.box-modal>div{
  position: relative;
  display: inline-block;
}

.close{
  position: absolute;
  right: 6.8rem;
  top: 1.5rem;
}

.close::before, .close::after{
  content: "";
  width: 24px;
  height: 6px;
  z-index: 2;
  display: block;
  position: absolute;
  background: rgb(59,210,160);
}

.close::before{
  transform: rotate(45deg);
}

.close::after{
  transform: rotate(-45deg);
}

#image-modal{
  width: 80%;
  max-width: 43.75rem;
  display: block;
  margin: auto;
}

/*footer*/
footer{
  text-align: center;
  height: 4.4rem;
  background: #373B47;
  color: white;
  padding-top: 0.44rem;
}
